.crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    @media only screen and (max-width: $bp-medium) {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }
    @media only screen and (max-width: $bp-small) {
        background-image: url(../assets/crew/background-crew-mobile.jpg);
    }
    &__wrap--picture {
        display: flex;
        justify-content: center;
        height: 560px;
        @media only screen and (max-width: $bp-large) {
            height: 300px;
        }
    }
    &__picture {
        // width: 40%;
        @media only screen and (max-width: $bp-large) {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            padding-top: 40px;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: $bp-small) {
            flex-direction: column-reverse;
            margin-bottom: 104px;
        }
        &--title {
            @media only screen and (max-width: $bp-large) {
                display: flex;
                justify-self: start;
            }
        }
    }
    &__text {
        padding-top: 154px;
        @media only screen and (max-width: $bp-large) {
            text-align: center;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--desc {
            max-width: 343px;
        }
        &--name {
            margin: 15px 0 27px 0;
            @media only screen and (max-width: $bp-large) {
                margin: 8px 0 16px 0;
            }
        }
        &--info {
            min-height: 350px;
            @media only screen and (max-width: $bp-large) {
                min-height: 220px;
            }
            @media only screen and (max-width: $bp-small) {
                min-height: 180px;
            }
        }
    }
    &__line {
        display: none;
        @media only screen and (max-width: $bp-small) {
            display: block;
        }
    }
    &__btn {
        border-radius: 100%;
        height: 10px;
        width: 10px;
        background-color: $color-white;
        opacity: .2;
        border: none;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            background-color: $color-secondary;
            opacity: 1;
        }
        &--active {
            background-color: $color-white!important;
            opacity: 1;
        }
    }
    &__wrap--btn {
        margin: 90px 0 61px 0;
        display: flex;
        gap: 15px;
        @media only screen and (max-width: $bp-large) {
            margin: 42px 0 18px 0;
        }
    }
}

.wrap__desc {
    @media only screen and (max-width: $bp-large) {
        display: flex;
        justify-content: center;
    }
}