.destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    @media only screen and (max-width: $bp-medium) {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    @media only screen and (max-width: $bp-small) {
        background-image: url(../assets/destination/background-destination-mobile.jpg);
    }
    &__content {
        margin: 64px 0 118px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
            text-align: center;
        }
        @media only screen and (max-width: $bp-small) {
            margin: 32px 0 58px 0;
        }
        &--planet {
            margin-left: 65px;
            height: 445px;
            width: 445px;
            @media only screen and (max-width: $bp-large) {
                height: 300px;
                width: 300px;
                margin-left: 0px;
                margin-bottom: 53px;
            }
            @media only screen and (max-width: $bp-small) {
                height: 200px;
                width: 200px;
                margin-bottom: 26px;
            }
            @media only screen and (max-width: $bp-smallest) {
                height: 150px;
                width: 150px;
            }
        }
        &--text {
            &_select {
                display: flex;
                flex-direction: row;
                gap: 35px;
                cursor: pointer;
                @media only screen and (max-width: $bp-large) {
                    justify-content: center;
                }
            }
            &_add {
                padding-top: 28px;
                display: flex;
                flex-direction: row;
                gap: 79px;
                @media only screen and (max-width: $bp-large) {
                    justify-content: center;
                }
                @media only screen and (max-width: $bp-small) {
                    padding-top: 32px;
                    flex-direction: column;
                    gap: 32px;
                }
            }
            &_planet {
                padding-top: 37px;
            }
            &_desc {
                padding-top: 14px;
                padding-bottom: 54px;
                height: 150px;
                @media only screen and (max-width: $bp-small) {
                    padding-bottom: 32px;
                }
            }
            &_line {
                width: 100%;
                height: 1px;
                background: #383B4B;
            }
        }
    }
    &__select {
        display: inline-block;
        &::after {
            content: '';
            margin-top: 12px;
            display: block;
            width: 0;
            height: 3px;
            background: rgba(255, 255, 255, 0.4);
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
        }
    }
}